<html ng-app="playerApp">
<head>
<title>JKA Demo Archive</title>
<link rel="stylesheet" href="jquery-ui-1.10.4.custom.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="jquery.ba-bbq.min.js"></script>
<script src="moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script src="sprintf.js"></script>
<script src="aplayer2.js"></script>
<!-- Stuff needed on initial load is loaded as JSONP -->
<script src="minrpc.php?rpc=numdemos&jsonp=true"></script>
<script src="playerrpc.php?rpc=checkmerge&jsonp=true"></script>
<style type="text/css">
.is_match_true {
  font-weight: bold;
}
</style>
</head>
<body ng-controller="PlayerCtrl">
<h1>JKA Demo Archive</h1>
<h2>Now hosting <span id="numdemos"></span> demos</h2>
<h2>Player <span ng-bind-html="player.name"></span> ({{player._id['$oid']}})</span>:</h2>
Rating: {{player.rating.friendly}}
<p>
<div style="width:1000px;">
<div><input type="checkbox" id="linearscale" onclick="toggleLinearScale();"></input><label for="linearscale">Linear scale</label></div>
<canvas id="elochart" width="40" height="40"></canvas>
</div>
<a href="playerrpc.py?rpc=ratings&id={{player._id['$oid']}}">Historical CSV</a>
<p>
Names:
<ul>
  <li ng-repeat="name in player.names">
    <span ng-bind-html="name.name"></span> ({{name.rawname}}): {{name.time}}
  </li>
</ul>
<p>
Matches:
<ul>
  <li ng-repeat="match in player.matches">
    <a href="match.html#rpc=lookup&id={{match._id.match}}" class="is_match_{{match.is_match}}">{{match.time}} {{match._id.match}}</a>: {{match.rating.rating.start.friendly}}:{{match.rating.rating.updated.friendly}}
    <ul>
      <li ng-repeat="game in match.games">
      {{game.clientid}} <span ng-repeat="team in game.teams">{{team.team}} </span> - <span ng-repeat="name in game.names"><span ng-bind-html="name.name"></span>  </span>
      <ul>
        <li ng-repeat="shot in game.ns.shots">
          Nice Shot! Score {{shot.score}} at {{shot.human_time}}
        </li>
      </ul>
      <ul>
        <li ng-repeat="bookmark in game.bookmarks">
          Bookmark {{bookmark.mark}} at {{bookmark.human_time}}
        </li>
      </ul>
      </li>
    </ul>
  </li>
</ul>
</body>
</html>
